@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,700|Open+Sans+Condensed:300|Open+Sans:300');

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
}

a {
    color: inherit;
    transition: 0.2s;
}

.row-main {
    width: 100%;
    height: 100%;
    display: block;
    clear: both;
    box-sizing: border-box;
}

.row {
    width: 100%;
    display: block;
    clear: both;
    box-sizing: border-box;
}

.col {
    width: 50%;
    padding: 0px;
    float: left;
}

.label-1,
.label-2 {
    display: inline-block;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: rgb(30, 30, 30);
    color: #f7f9fb;
    padding: 4px;
    text-transform: uppercase;
}

.label-1 {
    font-size: 48px;
}


.label-2 {
    font-size: 28px;
}

.text-1 {
    font-family: 'Open Sans', sans-serif;
    color: rgb(50, 50, 50)
}

.text-padding {
    padding-right: 20px;
}

hr {
    border-width: 1px;
    border-color: rgba(240, 240, 240, 0.90);
    margin-top: -1px;
    width: 98%;
    text-align: left;
    margin-left: 0;
}

.sidebar-toggle {
    z-index: 98;
    position: fixed;
    padding: 0;
    bottom: 10px;
    margin-left: 0;
    opacity: 0.50;
    color: rgb(100, 100, 100);
    font-size: 30px;
}

.sidebar-toggle-m {
    z-index: 101;
    position: fixed;
    padding: 0;
    bottom: 10px;
    margin-left: 0;
    opacity: 0.50;
    color: rgb(100, 100, 100);
    font-size: 30px;
    display: none;
}

.sidebar, .sidebar-initial, .sidebar-m {
    height: 100%;
    float: left;
    position: fixed;
    overflow: hidden;
    background: rgb(30, 30, 30) no-repeat 0% 0%;
    color: #fff;
    font-family: 'Maven Pro', sans-serif;
    text-align: center;
    transition: 0.5s;
}


.sidebar-initial {
    z-index: 102;
    width: 100%;
}

.sidebar {
    z-index: 97;
    width: 18%;
}

.sidebar-m {
    z-index: 97;
    width: 100%;
    margin-left: -100%;
}

.dp-wrapper {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.display-picture {
    display: inline-block;
    width: 140px;
    height: 140px;
    margin-top: 32px;
    border: #fff 2px solid;
    background: url("../img/dp2.png") no-repeat;
    background-size: cover;
}

.intro-wrapper {
    display: inline-block;
    text-align: left;
    margin-top: 100%;
    padding-top: 10px;
}

.intro {
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    line-height: 1.25;
}

.nav-wrapper {
    display: inline-block;
    text-align: left;
    padding: 0;
    margin-top: 40px;
}

.nav {
    font-size: 16px;
    line-height: 1.75;
    list-style-type: none;
    margin: 0;
}

.nav a:hover {
    color: #ff1111;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.social-links-wrapper {
    position: absolute;
    display: block;
    text-align: center;
    width: 100%;
    bottom: 20px;
}

.social-links {
    list-style-type: none;
    padding: 0;
}

.social-links li {
    display: inline;
    padding: 5px;
}

.sidebar .fab, .sidebar-initial .fab, .sidebar-m .fab {
    color: rgba(255, 255, 255, 0.35);
    font-size: 28px;
    transition: 0.2s;
}

.fab:hover {
    color: rgba(255, 255, 255, 0.90)
}

.copyright-text {
    font-size: 14px;
    color: rgb(80, 80, 80);
}

.content {
    width: 82%;
    margin-left: 18%;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    background: #f7f9fb no-repeat 0% 0%;
    /* color: rgb(70, 70, 70); */
    font-size: 16px;
    transition: 0.5s;
}

.content-f {
    z-index: 100;
    width: 100%;
    margin-left: 0;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    background: #f7f9fb no-repeat 0% 0%;
    color: rgb(70, 70, 70);
    font-size: 16px;
    transition: 0.5s;
}

.content-div {
    margin: 0;
}

.div-main {
    margin: 20px;
}

.content-wrapper {
    display: inline-block;
    padding: 5px;
    padding-left: 0;
    width: 98%;
}

#contactme a {
    text-decoration: none;
}

#contactme .fab {
    color: inherit;
    font-size: 28px;
}

#contactme ul {
    list-style-type: none;
}

.chart {
    display: table;
    table-layout: fixed;
    width: 90%;
    max-width: 700px;
    height: 300px;
    margin: 0 auto;
    background-size: 100% 50px;
    background-position: left top;
    padding: 0;
    padding-bottom: 40px;
}

.chart li {
    position: relative;
    display: table-cell;
    vertical-align: bottom;
    height: 300px;
    text-align: center;
}

.chart span {
    margin: 0 1em;
    display: block;
    background: rgba(70, 70, 70, 0.80);
    animation: draw 1s ease-in-out;
}

.chart span:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    padding: 5px 0px;
    display: block;
    text-align: center;
    content: attr(title);
    word-wrap: break-word;
    font-family: 'Open Sans', sans-serif;
    font-size: 90%;
}

@keyframes draw {
    0% {
        height: 0;
    }
}

/* Media Queries */
@media only screen and (max-width: 1024px) {
    .sidebar {
        width: 20%;
    }

    .sidebar *, .sidebar-initial *, .sidebar-m * {
        font-size: 95%;
    }

    .display-picture {
        width: 120px;
        height: 120px;
    }

    .social-links li {
        padding: 3px;
    }

    .copyright-text {
        font-size: 95%;
    }

    .content {
        font-size: 14px;
        width: 80%;
        margin-left: 20%;
    }
    .content-f {
        font-size: 14px;
    }

    .label-1 {
        font-size: 40px;
    }
    .label-2 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .display-picture {
        width: 100px;
        height: 100px;
    }

    .social-links li {
        padding: 2px;
    }

    .chart {
        width: 98%;
    }

    .chart * {
        font-size: 92%;
    }
}

@media only screen and (max-width: 725px) {
    .sidebar {
        width: 24%;
    }

    .content {
        width: 76%;
        margin-left: 24%;
    }

    .col {
        width: 100%;
    }
}

@media only screen and (max-width: 576px) {
    .sidebar-toggle-m {
        display: block;
    }
    hr {
        width: 100%;
    }

    .label-1 {
        font-size: 36px;
    }

    .label-2 {
        font-size: 20px;
    }

    .sidebar {
        width: 100%;
        height: 100%;
        display: block;
        position: fixed;
        margin: 0;
    }

    .sidebar *, .sidebar-initial *, .sidebar-m * {
        font-size: 97%;
    }

    .sidebar-toggle {
        display: none;
    }

    .display-picture {
        width: 144px;
        height: 144px;
    }

    .social-links li {
        padding: 5px;
    }

    .content {
        display: block;
        position: relative;
        margin: 0;
        width: 100%;
    }

    .chart {
        width: 95%;
    }

    .chart * {
        font-size: 98%;
    }

    .col {
        width: 100%;
    }
}

@media only screen and (max-width: 375px) {
    .chart {
        width: 100%;
    }
    .chart * {
        font-size: 92%;
    }
}