@charset "utf-8";

#sidebar a:visited {
    color: inherit;
}

#sidebar a:hover {
    text-decoration: none;
}

ul {
    margin-left: 0;
}

// .wrapper {
//     margin-left: 20px;
//     padding: 0;
// }

// .page-content {
    // margin-top: 20px;
    // padding: 0;
    // width: 82%;
    // margin-left: 18%;
// }

// .page-content-f {
//     z-index: 99;
//     width: 100%;
//     margin-left: 0;
// }

// @media only screen and (max-width: 1024px) {
//     .page-content {
//         width: 80%;
//         margin-left: 18%;
//     }
// }

// @media only screen and (max-width: 725px) {
//     .page-content {
//         width: 76%;
//         margin-left: 24%;
//     }
// }

// @media only screen and (max-width: 576px) {
//     .page-content {
//         width: 100%;
//         margin-left: 0;
//     }
// }

