<span id="sidebar-toggle-m" class="sidebar-toggle-m">
    <i class="fas fa-angle-left"></i>
</span>

<div id="sidebar" class="sidebar">
    <div class="dp-wrapper">
        <span class="display-picture">
            <span class="intro-wrapper">
                <div class="intro">Hi. I'm Akshat. Welcome to my place on the internet.</div>
            </span>
        </span>
    </div>
    <span id="nav" class="nav-wrapper">
        <ul class="nav fa-ul">
            <li>
                <i class="fas fa-caret-right"></i>
                <a href="https://akshat157.github.io/#" class="nav-link">Home</a>
            </li>
            <li>
                <i class="fas fa-caret-right"></i>
                <a href="#" class="nav-link">Blog</a>
            </li>
            <li>
                <i class="fas fa-caret-right"></i>
                <a href="https://akshat157.github.io/#skills" class="nav-link">My Skills</a>
            </li>
            <li>
                <i class="fas fa-caret-right"></i>
                <a href="https://akshat157.github.io/#projects" class="nav-link">My Projects</a>
            </li>
            <li>
                <i class="fas fa-caret-right"></i>
                <a href="https://akshat157.github.io/#interests" class="nav-link">My Interests</a>
            </li>
            <li>
                <i class="fas fa-caret-right"></i>
                <a href="https://akshat157.github.io/#contactme" class="nav-link">Contact me.</a>
            </li>
        </ul>
    </span>
    <div class="social-links-wrapper">
        <ul class="social-links">
            <li><a href="https://www.github.com/akshat157/" target="_blank"><i class="fab fa-github-square"></i></a></li>
            <li><a href="https://www.linkedin.com/in/akshat-malviya/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
            <li><a href="https://www.facebook.com/akshatmatrix/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="https://www.twitter.com/@akshatmalviya/" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
        </ul>
    </div>
</div>